html {
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fdfdfd;
}

.app {
  display: flex;
  justify-content: center;
  font-family: Nunito;
}

header {
  margin-bottom: 50px;
}

.header-container img {
  float: right;
  width: 50px;
  height: 50px;
}

.chart {
  position: relative;
  display: flex;
  justify-content: center;
  height: 30vh;
  width: 900px;
}

.feed {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 90%;
  justify-content: start;
  margin: auto;
}

.index {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.asset-container {
  display: flex;
  justify-content: center;
}

.asset-row {
  display: flex;
  justify-items: start;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid teal;
  width: 900px;
  cursor: pointer;
}

.asset {
  display: flex;
  align-items: center;
  padding-right: 24px;
  min-width: 300px;
}

.asset h1 {
  font-size: 16px;
  width: 150px;
}

.asset img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  border: none;
}

.asset-symbol {
  text-transform: uppercase;
}

.asset-data {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 100%;
}

.asset-price {
  width: 150px;
}

.asset-market-cap {
  width: 200px;
}

.asset-volume {
  width: 155px;
}

.asset-percent {
  width: 100%;
}

.red {
  color: red;
}

.green {
  color: green;
}

.description-bar {
  font-weight: bold;
  justify-content: center;
}

.description-row {
  display: flex;
  justify-items: start;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid teal;
  width: 900px;
  cursor: grab;
}

.search-input {
  border: 2px solid rgba(0, 128, 128, 0.6);
  height: 25px;
  width: 210px;
  outline: none;
  border-radius: 4px;
}

.search-input:focus {
  border: 2px solid teal;
}