.app {
  display: flex;
  justify-content: center;
}

.chart {
  position: relative;
  display: flex;
  justify-content: center;
  height: 30vh;
  width: 90vw;
}

.feed {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 90%;
  justify-content: start;
  margin: auto;
}

.index {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.asset-container {
  display: flex;
  justify-content: center;
}

.asset-row {
  display: flex;
  justify-items: start;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid teal;
  width: 900px
}

.asset {
  display: flex;
  align-items: center;
  padding-right: 24px;
  min-width: 300px;
}

.asset h1 {
  font-size: 16px;
  width: 150px;
}

.asset img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  border: none;
}

.asset-symbol {
  text-transform: uppercase;
}

.asset-data {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 100%;
}

.asset-price {
  width: 110px;
}

.asset-volume {
  width: 155px;
}

.asset-market-cap {
  width: 230px;
}

.asset-percent {
  width: 100%;
}

.red {
  color: red;
}

.green {
  color: green;
}

.description-bar {
  font-weight: bold;
}